<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

    <h3><%= skill.skill %></h3>>

    <hgroup>
      <h1><%= skill.name %></h1>
      <h2><strong>Difficulty: <%= skill.difficulty %></strong><br>
      <small>Mastered? <%= skill.mastered %></small></h2>
      <h6>Confidence on the skill? <%= skill.confidence %></h6>
    </hgroup>
    <a href="/todos/<%= skill.id%>/edit">Edit Skill</a>

<%- include('../partials/footer') %>
